/* Template CSS */ 
body {
	background-color: #d8d8d8;
	margin-top: 0px;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 0px;
	font-family: geneva;
}
.header {
	margin: 0px;
	font-family: geneva;
}
.title-fav{
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15%;
}
#top-title {
	font-family: cursive;
	font-size: 45px;
	color: #73000A;
	margin-top: 0px;
	margin-bottom:0px;
}
#social-favi{
	margin: 0px;
	margin-top: 5px;
	padding-left: 0px;
	list-style-type: none;
}
.favi-list{
	display: inline-flex;
	margin: 5px;
}
nav{
	text-align: center;
	margin-bottom: 10px;
	align-content: center;
	box-sizing: border-box;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}
a.nav-links:link{
	box-sizing: border-box;
	display: inline-flex;
	font-size: 20px;
	justify-content: center;
	text-decoration-line: none;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	background-color: #73000A;
	border-radius: 5px;
	padding-left: 2px;	
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: background-color .4s;
	width: 150px
}
a.nav-links:visited{
	color: white;
	background-color: #73000A;
}

a.nav-links:hover{
	justify-content: center;
	font-size: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	color: #73002A;
	border-radius: 5px;
	padding-left: 2px;	
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	background-color: white;
}
/* Main Index Container CSS */
.grid-container{
	display: grid;
	grid-template-columns: 75% auto;
	grid-gap: 6px;
	grid-template-rows: 1fr 1fr 1fr;
}
.indexhead4{
	color: #474747;
	font-size: 20px;
	text-align: center;

}
#item-a {
	grid-column-start: 1;
	grid-column-end: 2;
	justify-self: center;
}
#item-b {
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: orange;
}
.recents{
	display: inline-flex;
}
a.testing:link{
	color: white;
	text-decoration: none;
	background-color: grey;
	text-align: center;
	width: 300px;
	height: 200px;
	border-radius: 5px;
}
a.testing:link div > .headtest{
	color: red;
}
a.testing:hover{
	color: green;
	text-decoration: none;
	background-color: white;
	text-align: center;
	width: 300px;
	height: 200px;
	border-radius: 5px;
}
