/* Template CSS */ 
body {
	background-color: #f3f3f3;
	margin-top: 0px;
	margin-left: 22%;
	margin-right: 22%;
	padding-top: 0px;
	font-family: arial, helvetica, sans-serif;
}
/* settings for media queries */
@media only screen and (max-width: 2400px) {
	body {
		margin-top: 0px;
		margin-left: 18%;
		margin-right: 18%;
	}
}
@media only screen and (max-width: 2200px) {
	body {
		margin-top: 0px;
		margin-left: 14%;
		margin-right: 14%;
	}
}
@media only screen and (max-width: 2000px) {
	body {
		margin-top: 0px;
		margin-left: 12%;
		margin-right: 12%;
	}
}
@media only screen and (max-width: 1800px) {
	body {
		margin-top: 0px;
		margin-left: 8%;
		margin-right: 8%;
	}
}
@media only screen and (max-width: 1600px) {
	body {
		margin-top: 0px;
		margin-left: 3%;
		margin-right: 3%;
	}
}
@media only screen and (max-width: 1400px) {
	body {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
}
.header {
	margin: 0px;
	font-family: geneva;
}
.title-fav{
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15%;
}
#top-title {
	font-family: cursive;
	font-size: 45px;
	color: #73000A;
	margin-top: 0px;
	margin-bottom:0px;
	text-align: center;
}
@media only screen and (max-width: 1000px) {
	#top-title {
		justify-content: center;
		text-align: center;
	}
}
#social-favi{
	margin: 0px;
	margin-top: 5px;
	padding-left: 0px;
	list-style-type: none;
}
.favi-list{
	display: inline-flex;
	margin: 5px;
}
nav{
	text-align: center;
	margin-bottom: 10px;
	align-content: center;
	box-sizing: border-box;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}
a.nav-links:link{
	box-sizing: border-box;
	display: inline-flex;
	font-size: 20px;
	justify-content: center;
	text-decoration-line: none;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	background-color: #73000A;
	border-radius: 5px;
	padding-left: 2px;	
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: background-color .4s;
	width: 150px
}
@media only screen and (max-width: 400px) {
	a.nav-links:link{
		font-size: 20px;
		transition: background-color .4s;
		width: 200px
	}
}
a.nav-links:visited{
	color: white;
	background-color: #73000A;
}
a.nav-links:hover{
	justify-content: center;
	font-size: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	color: #73002A;
	border-radius: 5px;
	padding-left: 2px;	
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	background-color: white;
}
/* Main Index Container CSS */
.grid-container{
	display: grid;
	grid-template-columns: 75% auto;
	grid-gap: 6px;
	grid-template-rows: 1fr;
	margin-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 20px;
	padding-bottom: 20px;
}
.homepageh4{
	color: #474747;
	font-size: 34px;
	text-align: left;
	padding-left: 10px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #73000A;
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
@media only screen and (max-width: 900px) {
.homepageh4{
		color: #474747;
		font-size: 34px;
		text-align: center;
		padding-left: 0px;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		border-bottom-color: #73000A;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
#item-a {
	grid-column-start: 1;
	grid-column-end: 2;
	margin-right: 10px;
	max-width: 1500px;
}
#item-b {
	grid-column-start: 2;
	grid-column-end: 3;
	border-left-style: solid;
	border-left-width: 3px;
	border-color: #73000A;
	margin-top: 5px;
}
@media only screen and (max-width: 900px) {
	#item-a{
		grid-column-start: 1;
		grid-column-end: 3;
		margin-right: 0px;
		margin-bottom: 10px;
	}
	#item-b{
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		border-left-style: none;
		border-left-width: 0px;
		margin-top: 0px;
		border-top-style: solid;
		border-top-color: black;
		border-top-width: 20px;
	}
}
.recents{
	display: flex;
	justify-content: center;
	padding: 3px;
	flex-flow: wrap;
}
a.testing:link{
	color: black;
	text-decoration: none;
	background-color: #fafafa;
	text-align: center;
	width: 300px;
	min-height: 200px;
	padding: 5px;
	margin: 5px;
	box-shadow: -1px 1px 1px;
}
a.testing:visited{
	color: black;
	text-decoration: none;
	background-color: #fafafa;
}
a.testing:hover{
	color: grey;
	text-decoration: none;
	background-color: #73000A;
	opacity: 0.3;
	text-align: center;
	transform: scale(0.95);
	transition-duration: 0.3s;
}
a.testing:link div > .headtest{
	color: #73000A;
	font-size: 28px;
	margin-bottom: 5px;
}
a.testing:visited div > .headtest{
	color: #73000A;
}
a.testing:hover div > .headtest{
	color: grey;
	font-size: 28px;
}
#linktest{
	width: 80%;
}
img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(-1deg); }
}
.asidehead{
	font-size: 20px;
	text-align: center;
	padding-left: 0px;
	padding-bottom: 5px;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 18px;
}
@media only screen and (max-width: 900px) {
	.asidehead{
		margin-top: 50px;
		margin-left: 0px;
		margin-right: 0px;
	}
}
.list-holder{
	display: flex;
	justify-content: center;
}
.small-link-list{
	text-align: left;
	padding-left: 0px;
}
.aside-list-items{
	margin-top: 2px;
	margin-bottom: 2px;
}
/* Scrollbar */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #73000A;
	border-radius: 5px;
	border: 3px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: white; 
	border-radius: 5px;
	border: 3px solid #73000A;
}

