{% extends "base.html" %}
{% block title %}Archives{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<main class="main-article-content">
		<div class="paper-shadowing">
			<div class="article-title">
				<h4 class="homepageh4 archive-header">Archives</h4>
			</div>
			<div style="display: flex; justify-content: center;">
			<ul style="list-style-type: none; text-align: left">
			{% for article in dates %}
			<li>{{ article.locale_date }} - <a href="{{ SITEURL }}/{{ article.url }}" class="inlinelink">{{ article.title }}</a></li>
			{% endfor %}
			</ul>
			</div>
		</div>
	</main>
{% endblock %}
