{% extends "base.html" %}
{% block title %}{{article.slug}}{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<main class="main-article-content">
	<div class="article-title">
		{{ article.title }}
		<div class="article-date">
			<time class="published" datetime="{{ article.date.isoformat() }}">
				{{ article.locale_date }}
			</time>
		</div>
		{% if article.modified %}
		{{ article.title }}
		<div class="article-date">
			<time class="published" datetime="{{ article.date.isoformat() }}">
				{{ article.locale_date }}
			</time>
		</div>
	{% endif %}
	</div>
	<div class="article-content">
	{{ article.content }}
	</div>
</main>
{% endblock %}
