<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ SITE_URL }}{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
	<link rel="stylesheet" type="text/css" href="{{ SITE_URL }}{{ THEME_STATIC_DIR }}/css/articles.css">
	<title>{% block title %}{% endblock %}</title>
	 {% endblock %}
</head>
<body>
	<header class="header">			
		<div class="title-fav">
			<h1 id=top-title>Just Another Data Science Blog...</h1>
			<ul id="social-favi">
				<li class="favi-list">
					<a href="https://www.github.com/"><img src="{{ SITE_URL }}{{ THEME_STATIC_DIR }}/images/github-logo.svg" height="45" width="45"></a></li>
				<li class="favi-list">
			<a href="https://www.linkedin.com/in/jake-trimble/"><img src="{{ SITE_URL }}{{ THEME_STATIC_DIR }}/images/linkedin.svg" height="45" width="45"></a></li>
				<li class="favi-list">
			<a href="https://www.twitter.com/JakeTrimble11/"><img src="{{ SITE_URL }}{{ THEME_STATIC_DIR }}/images/twitter.svg" height="45" width="45"></a></li>
			</ul>
		</div> 
		<nav>
			{% for u, item in MENUITEMS %}
			<a href="{{ item }}" class="nav-links">{{ u }}</a>
			{% endfor %}
			{% if DISPLAY_CATEGORIES_ON_MENU %}
			{% for cat, null in categories %}
			<a href="{{ SITEURL }}/{{ cat.url }}" class="nav-links">{{ cat }}</a>
				{% endfor %}
			{% endif %}
            	</nav>
        </header>
	{% block content %}{% endblock %}
	<footer class="footer">
		<div>Copyright © 2020 Jake Trimble</div>
		<div class="pelican-info">
		<address class="address">
			Proudly powered by Pelican
		</address><!-- /#about -->
		<div>Theme by <a href="https://github.com/Trimbljk">@trimbljk</a></div>
		</div>
	</footer>
</body>
</html>
