{% extends "base.html" %}
{% block title %}latest{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href='theme/css/custom.css'>
{% endblock %}
{% block content %}
{% set latest = articles if not all_articles else all_articles %}
<h4 class="homepageh4">Latest Post</h4>
<div class="recents">
{% for l in latest %}
{% if loop.index <= 1 %}
	<a href="{{ SITEURL }}/{{ l.url }}" class="testing" id="linktest">
		<div>
			<h4 class="headtest">{{ l.title }}</h4>
			{{ l.summary }}
		</div>
	</a>
{% endif %}
{% endfor %}
</div>
	<h4 class="homepageh4">Recent</h4>
<div class="recents">
{% for l in latest %}
{% if loop.index <= 4 and loop.index != 1 %}
	<a href="{{ SITEURL }}/{{ l.url }}" class='testing'>
		<div>
			<h4 class='headtest'>{{ l.title }}</h4>
			{{ l.summary }}
		</div>
	</a>
{% endif %}
{% endfor %}
</div>
{% endblock %}
{% block aside %}
<h4 class="asidehead">Articles of Interest</h4>
{% for lt, u in LINKS %}
<ul style="margin-left: 5px;">
	<li><a href="{{ u }}">{{ lt }}</a></li>
</ul>
{% endfor %}
{% endblock %}
