{% extends "base.html" %}
{% block title %}latest{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href='theme/css/custom.css'>
{% endblock %}
{% block content %}
<main class="grid-container">
<div id="item-a">
{% set latest = articles if not all_articles else all_articles %}
<h4 class="homepageh4">Latest Post</h4>
<div class="recents">
{% for l in latest %}
{% if loop.index <= 1 %}
	<a href="{{ SITEURL }}/{{ l.url }}" class="testing" id="linktest">
		<div>
			<h4 class="headtest">{{ l.title }}</h4>
			<div class="article-date">
				<time class="published" datetime="{{ l.date.isoformat() }}">
					{{ l.locale_date }}
				</time>
			</div>
			{% if l.modified %}
			{{ l.title }}
			<div class="article-date">
				<time class="published" datetime="{{ l.date.isoformat() }}">
					{{ l.locale_date }}
				</time>
			</div>
			{% endif %}
			{{ l.summary }}
		</div>
	</a>
{% endif %}
{% endfor %}
</div>
	<h4 class="homepageh4">Recent</h4>
<div class="recents">
{% for l in latest %}
{% if loop.index <= 4 and loop.index != 1 %}
	<a href="{{ SITEURL }}/{{ l.url }}" class='testing'>
		<div>
			<h4 class='headtest'>{{ l.title }}</h4>
			<div class="article-date">
				<time class="published" datetime="{{ l.date.isoformat() }}">
					{{ l.locale_date }}
				</time>
			</div>
			{% if l.modified %}
			{{ l.title }}
			<div class="article-date">
				<time class="published" datetime="{{ l.date.isoformat() }}">
					{{ l.locale_date }}
				</time>
			</div>
			{% endif %}
			{{ l.summary }}
		</div>
	</a>
{% endif %}
{% endfor %}
</div>
</div>
<div id="item-b">
	<h4 class="homepageh4 asidehead">Articles of Interest</h4>
	<div class="list-holder homepage-articles">
		<ul class="small-link-list">
			{% for lt, u in LINKS %}
			<li class="aside-list-items"><a href="{{ u }}" class="inlinelink">{{ lt }}</a></li>
			{% endfor %}
		</ul>
	</div>
	</div>
</main>
{% endblock %}
