{% extends "base.html" %}
{% block title %}latest{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<main class="grid-container">
<div id="main-content-section">
{% set latest = articles if not all_articles else all_articles %}
<h4 class="section-title">Latest Post</h4>
<div class="recents">
{% for l in latest %}
{% if loop.index <= 1 %}
	<a href="{{ SITE_URL }}/{{ l.url }}" class="article-link" id="latest-link">
		<div>
			<h4 class="article-link-head">{{ l.title }}</h4>
			<div class="article-date">
				<time class="published" datetime="{{ l.date.isoformat() }}">
					{{ l.locale_date }}
				</time>
			</div>
			{% if l.modified %}
			{{ l.title }}
			<div class="article-date">
				<time class="published" datetime="{{ l.date.isoformat() }}">
					{{ l.locale_date }}
				</time>
			</div>
			{% endif %}
			{{ l.summary }}
		</div>
	</a>
{% endif %}
{% endfor %}
</div>
	<h4 class="section-title">Recent</h4>
<div class="recents">
{% for l in latest %}
{% if loop.index <= 4 and loop.index != 1 %}
	<a href="{{ SITE_URL }}/{{ l.url }}" class='article-link'>
		<div>
			<h4 class='article-link-head'>{{ l.title }}</h4>
			<div class="article-date">
				<time class="published" datetime="{{ l.date.isoformat() }}">
					{{ l.locale_date }}
				</time>
			</div>
			{% if l.modified %}
			{{ l.title }}
			<div class="article-date">
				<time class="published" datetime="{{ l.date.isoformat() }}">
					{{ l.locale_date }}
				</time>
			</div>
			{% endif %}
			{{ l.summary }}
		</div>
	</a>
{% endif %}
{% endfor %}
</div>
</div>
<div id="aside-section">
	<h4 class="section-title asidehead">Articles of Interest</h4>
	<div class="list-holder homepage-articles">
		<ul class="small-link-list">
			{% for lt, u in LINKS %}
			<li class="aside-list-items"><a href="{{ u }}" class="inlinelink">{{ lt }}</a></li>
			{% endfor %}
		</ul>
	</div>
	</div>
</main>
{% endblock %}
