{% extends "base.html" %}
{% block title %}latest{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<div>
{% set latest = articles if not all_articles else all_articles %}
{% for l in latest %}
{% if loop.index == 1  %}
<div>
	<h4>Latest</h4>
	<a href="{{ SITEURL }}/{{ l.url }}">{{ l.title }}</a>
	{{ l.summary }}
</div>
{% endif %}
{% endfor %}
	<h4>Recent</h4>
{% for l in latest %}
{% if loop.index <= 3 and loop.index != 1 %}
<div>
	<a href="{{ SITEURL }}/{{ l.url }}">{{ l.title }}</a>
	{{ l.summary }}
</div> 
{% endif %}
{% endfor %}
</div>
{% endblock %}
{% block aside %}
<h4>Other News</h4>
{% for lt, u in LINKS %}
<ul>
	<li><a href="{{ u }}">{{ lt }}</a></li>
</ul>
{% endfor %}
{% endblock %}
